:root {
    --gradient: linear-gradient(160deg, #0ea5e9 20%, #2563eb 100%);
}

.welcome-card {
    background: var(--gradient);
    min-height: 300px;
}

.decoration-circle-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    background: white;
    opacity: 10%;
    border-radius: 50%;
    top: -100px;
    right: -50px;
}

.decoration-circle-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background: white;
    opacity: 10%;
    border-radius: 50%;
    bottom: -50px;
    left: 20%;
}

.welcome-img {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 300px;
    z-index: 1;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
    height: auto;
    object-fit: contain;
}

@media (max-width: 1200px) {
    .welcome-img {
        width: 250px;
        right: 10px;
    }
}

@media (max-width: 768px) {
    .welcome-img {
        width: 180px;
        right: 15px;
        bottom: -10px;
        opacity: 0.95;
    }
}

@media (max-width: 576px) {
    .welcome-img {
        width: 140px;
        right: 10px;
        bottom: -5px;
    }
}

.timeline {
    position: relative;
}

.timeline-status {
    position: relative;
    width: 20px;
}

.timeline-status .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-top: 5px;
}

.timeline-status .line {
    position: absolute;
    width: 2px;
    height: 100%;
    background: #e2e8f0;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    z-index: 1;
}

.timeline-item:last-child .line {
    display: none;
}

.siswa-dashboard #main-content {
    width: calc(100% - var(--sidebar-w, 200px));
    transition: all 0.4s ease;
}

@media (min-width: 992px) {
    #sidebar.collapsed ~ .siswa-dashboard #main-content {
        width: calc(100% - var(--sidebar-m, 80px));
        margin-left: var(--sidebar-m, 80px);
    }
}

@media (max-width: 991px) {
    .siswa-dashboard #main-content {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .btn {
        padding: 6px 10px;
        font-size: 11px;
    }

    #header {
        padding: 8px 10px;
    }

    .card-header {
        padding: 10px !important;
    }
    .welcome-img {
        width: 230px;

    }
    .siswa-dashboard .welcome-card .card-body {
        padding: 20px 12px 200px !important;
    }
    h4 {
        font-size: 12px;
    }
    h5 {
        font-size: 11px;
    }
}
